<div *ngIf='feedbackQuestion'>
            <div class="container">
                    <nav class="navbar navbar-default"> 
                             <span  class="spancolor">FEEDBACK QUESTIONS
                             </span>
                    </nav>
            <div class="" id="actionExample">
                <div class="card card-body" >

                    <div class="form-inline ml-auto" style="margin-bottom: 10px;">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-success text-uppercase"
                                    style="padding: 3px 12px;font-size: 12px;"
                                    (click)="showHideDiv('feedbackQuestion')">Add Questions</button>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-danger text-uppercase"
                                    style="padding: 3px 12px;font-size: 12px;">Clear Filters</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Total Answers</th>
                                <th>Feedback Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let feedbackQuestion of feedbackQuestions'>
                                <td>{{feedbackQuestion.question}}</td>
                                <td>1</td>
                                <td>
                                    <ng-container *ngIf="feedbackQuestion.participantType == 'PC'; else second">
                                        participated
                                    </ng-container>

                                    <ng-template #second>

                                        <ng-container *ngIf="feedbackQuestion.participantType == 'UN' else third">
                                            unregistered
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #third>
                                        notparticipated
                                    </ng-template>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="Edit">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-12" style="background-color: #fff;border: 1px solid rgb(234, 229, 229) !important;">
                    <ul class="nav nav-pills">
                        <li class="nav-item" *ngFor='let p of pages; let i=index'>
                            <a href="" class="nav-link" (click)=setPage(i,$event)>{{i+1}}</a>
                        </li>
                    </ul>
                </div>
            </div>
       </div>
</div>

<div *ngIf='addQuestionDiv'>
     <div class="container">
                    <nav class="navbar navbar-default"> 
                             <span  class="spancolor">ADD QUESTION
                             </span>
                    </nav>
            <div class="collapse" id="eventExample">
                <div style="height: 800px;">
                    <div class="card card-body" style="height: 800px;">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="margin-bottom: 10px;"><b>Feedback Type</b></div>
                                    <div class="form-check col-md-12" style="margin-bottom: 10px;">
                                        <input type="checkbox" class="form-check-input" id="multiple"
                                            [(ngModel)]="isCheckNA_UN" onclick="return false;">
                                        <label class="form-check-label col-md-12" for="multiple">Allow Multiple
                                            Answers</label>
                                    </div>
                                    <div class="form-check col-md-12" style="margin-bottom: 10px;">
                                        <input type="checkbox" class="form-check-input" id="freetext"
                                            [(ngModel)]="isCheckPC" onclick="return false;">
                                        <label class="form-check-label col-md-12" for="freetext">Free Text
                                            Answer</label>
                                    </div>
                                    <div class="form-check col-md-12" style="margin-bottom: 10px;">
                                        <input type="checkbox" class="form-check-input" id="customQuestion"
                                            [(ngModel)]="isCheckPC" onclick="return false;">
                                        <label class="form-check-label col-md-12" for="customQuestion">Custom
                                            Question</label>
                                    </div>
                                </div>
                            </div>

                            <div >
                                <div class="form-group">
                                    <div class="radio-inline col-md-2">
                                            <input type="radio" name="participantType" value="PC" class="form-check-input"
                                            id="Participated" [(ngModel)]="isCheckRadioPC"
                                            (click)="setradio('PC');">
                                            <label class="form-check-label col-md-12"
                                            for="Participated">Participated</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="radio-inline col-md-2">
                                        <input type="radio" name="participantType" value="NA" class="form-check-input"
                                            id="notParticipated" [(ngModel)]="isCheckRadioNA" (click)="setradio('NA');">
                                        <label class="form-check-label col-md-12" for="notParticipated">Not
                                            Participated</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="radio-inline col-md-2">
                                        <input type="radio" name="participantType" value="UN" class="form-check-input"
                                            id="Unregistered" [(ngModel)]="isCheckRadioUN"
                                            (click)="setradio('UN');">
                                        <label class="form-check-label col-md-12"
                                            for="Unregistered">Unregistered</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div *ngIf="isSelected('participated')" >  
                            <input type="text"/>Male radio button selected  
                          </div>  
                         
                          <div *ngIf="isSelected('notParticipated')">  
                             <input type="text"/> Female radio button selected  
                          </div> 
                          
                          <div *ngIf="isSelected('Unregistered')">  
                            <input type="text"/> Female radio button selected  
                         </div>  -->



                        <!-- participated question -->
                        <div *ngIf='ratingQuestion'>
                            <div class="row my-1">
                                <div class="form-line col-md-2">
                                    <div class="col-md-12">
                                        Rating
                                    </div>
                                </div>
                                <div class="form-line col-md-12">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control"
                                            placeholder="Add your question for rating out of 5"
                                            [(ngModel)]="ratingQues">
                                    </div>
                                </div>
                            </div>


                            <div class="row my-1">
                                <div class="form-line col-md-2">
                                    <div class="col-md-12">
                                        Likes
                                    </div>
                                </div>
                                <div class="form-line col-md-12">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control"
                                            placeholder="Add your question for likes about event"
                                            [(ngModel)]="likeQues">
                                    </div>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="form-line col-md-2">
                                    <div class="col-md-12">
                                        Dislikes
                                    </div>
                                </div>
                                <div class="form-line col-md-12">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control"
                                            placeholder="Add your question for dislikes about event"
                                            [(ngModel)]="dislikeQues">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row my-4" style="justify-content: center;">
                                <div class="form-line">
                                    <div class="col-md-2">
                                        <button class="btn btn-primary text-uppercase"
                                            (click)="saveRatingQuestion()">Save</button>
                                    </div>
                                </div>
                                <div class="form-line">
                                    <div class="col-md-2">
                                        <button class="btn btn-info text-uppercase"
                                            (click)="showHideDiv('addQuestionDiv')">Cancel</button>
                                    </div>
                                </div>
                                <div class="form-line">
                                    <div class="col-md-2">
                                        <button class="btn btn-success text-uppercase">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!-- multiple choice question -->
                        <div *ngIf='choiceQuestion'>
                            <div class="row my-3">
                                <div class="form-line col-md-2">
                                    <div class="col-md-12">
                                        Question
                                    </div>
                                </div>
                                <div class="form-line col-md-12">
                                    <div class="col-md-12">
                                        <input type="text" [(ngModel)]='UNNAQuestion' class="form-control"
                                            placeholder="Description (required)">
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <!-- <div class="another-test" #div></div> -->

                            <ng-template #viewContainerRef></ng-template>
                            <!-- <div class="row my-1">
                                <div class="form-line col-md-2">
                                    <div class="col-md-12">
                                        Answer
                                    </div>
                                </div>
                                <div class="form-line col-md-12">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Add Answer">
                                    </div>
                                </div>

                                <div class="form-line col-md-2">
                                    <button class="mx-3 btn btn-warning text-uppercase"
                                        style="font-size: 12px;font-weight: bold;color: #fff;">Delete
                                        Answer</button>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="form-line col-md-2">
                                    <div class="col-md-12">
                                        Answer
                                    </div>
                                </div>
                                <div class="form-line col-md-12">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Add Answer">
                                    </div>
                                </div>

                                <div class="form-line col-md-2">
                                    <button class="mx-3 btn btn-warning text-uppercase"
                                        style="font-size: 12px;font-weight: bold;color: #fff;">Delete
                                        Answer</button>
                                </div>
                            </div> -->

                            <div class="row my-4" style="justify-content: center;">
                                    <div class="form-line">
                                            <div class="col-md-2">
                                                <button class="btn btn-danger text-uppercase" (click)="addComponent()">Add
                                                    Answer</button>
                                            </div>
                                        </div>
                                <div class="form-line">
                                    <div class="col-md-2">
                                        <button class="btn btn-primary text-uppercase"
                                            (click)="SaveNAUN_answer()">Save</button>
                                    </div>
                                </div>
                                <div class="form-line">
                                    <div class="col-md-2">
                                        <button class="btn btn-info text-uppercase"
                                            (click)="showHideDiv('addQuestionDiv')">Cancel</button>
                                    </div>
                                </div>
                                <div class="form-line">
                                    <div class="col-md-2">
                                        <button class="btn btn-success text-uppercase">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>