.navbar-default{
    background-color: #0033a0;
}
.spancolor{
    color:white;  
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
}
.navbar-white{
    background-color:white;
}
.divcolor{
    color: #0033a0; 
    font-size: 25px;
    margin-left: 10px;
    text-align: center; 
}
.textareacolor{
    background-color:#696969;
    font-size: 15px;
    color: white
}
.divcolor1{
    color: lightseagreen; 
    font-size: 20px;
    margin-left: 10px;
    text-align: center; 
}
.divcolor2{
    color:violet; 
    font-size: 20px;
    margin-left: 10px;
    text-align: center; 
}
