<html>
    <body>
        <form>
            <br>
                <div class="container" align="center">
                        <div  class="container">
                            <div class="divcolor">Many Thanks for the Feedback.</div>
                        </div> 
                </div>
                <br><br>
                <div class="container" align="center">
                        <div  class="container">
                            <div class="divcolor1">Feedback like this help us constantly improve our outreach experiences by 
                                knowing what we are doing right and what we can work on So, We appreciate you
                                taking the time to send us this helpful response.

                                <div class="divcolor1">Dont't hesitate to reach out if you have any more questions, comments, or concerns.</div>
                                 <br><br>
                                <div class="divcolor2">
                                    Cheers,
                                </div>
                                <div class="divcolor1">
                                    Outreach Team
                                </div>
                            </div>
                        </div> 
                </div>
        </form>
    </body>
</html>
