.navbar-default{
    background-color: #0033a0;
}
.spancolor{
    color:white;      
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
}
.navbar-right {
    float: right!important;
    margin-right: 3px;
  }
.btn-circle.btn-sm { 
    width: 18px; 
    height: 18px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
  } 
.form-control {
    width:500px;
 }
.lbl{
    font-size: 20px;
    margin-left: 5px; 
 }