.navbar-default{
    background-color: #0033a0;
}
.spancolor{
    color:white;      
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
}
.lbl{
    font-size: 18px;
    margin-left: 5px; 
 }
.checkboxlbl{
    font-size: 18px;
 }
 .form-control {
    width:500px;
 }
