<html>
    <body>
      <div *ngIf="isPmoOrPoc"  class="container" >
                  <nav class="navbar navbar-default"> 
                           <span  class="spancolor">ACTIONS
                              <ul class="nav navbar-nav navbar-right">
                                  <button type="button" class="btn btn-light btn-circle btn-sm">-></button> 
                                  <button type="button" class="btn btn-success btn-circle btn-sm">+</button> 
                                  <button type="button" class="btn btn-warning btn-circle btn-sm">-</button> 
                                  <button type="button" class="btn btn-danger btn-circle btn-sm">x</button> </ul>
                           </span>
                  </nav>
      </div>
          <div *ngIf="isPmoOrPoc" class="container">
              <table style="width:500px" height="50%">
                <tbody>
                  <tr>
                      <td class="rectangle" bgcolor="lightblue">  
                        <img class="rg_i Q4LuWd" data-src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fbanner2.cleanpng.com%2F20180425%2Fwwe%2Fkisspng-computer-icons-industry-mail-computer-software-illustrator-icon-5ae01695c9db73.3254661115246352858268.jpg&imgrefurl=https%3A%2F%2Fwww.cleanpng.com%2Fpng-computer-icons-industry-mail-computer-software-ill-1513501%2F&tbnid=EZXlDR0hAmbq3M&vet=12ahUKEwjpyYmjoLbqAhUdGbcAHYgsAvYQMygFegUIARDWAQ..i&docid=7xLsQsjswfwLQM&w=900&h=520&q=mail%20image%20logo&ved=2ahUKEwjpyYmjoLbqAhUdGbcAHYgsAvYQMygFegUIARDWAQ" width="50" height="50">
                        Email Reminder! <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Sit back and relax while the app send emails!
                      <button type="button" class="btn btn-default" (click)="sendEmailForFeedback()">Send Email</button></td>
                  </tr>
                </tbody>
              </table>
            
              <table style="width:500px" height="50%">
                  <tbody>
                    <tr>
                        <td class="rectangle" bgcolor="lightgoldenrodyellow">  
                            <img class="rg_i Q4LuWd" data-src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fbanner2.cleanpng.com%2F20180425%2Fwwe%2Fkisspng-computer-icons-industry-mail-computer-software-illustrator-icon-5ae01695c9db73.3254661115246352858268.jpg&imgrefurl=https%3A%2F%2Fwww.cleanpng.com%2Fpng-computer-icons-industry-mail-computer-software-ill-1513501%2F&tbnid=EZXlDR0hAmbq3M&vet=12ahUKEwjpyYmjoLbqAhUdGbcAHYgsAvYQMygFegUIARDWAQ..i&docid=7xLsQsjswfwLQM&w=900&h=520&q=mail%20image%20logo&ved=2ahUKEwjpyYmjoLbqAhUdGbcAHYgsAvYQMygFegUIARDWAQ" width="50" height="50">
                          Future Implementation! <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          This place holder can be used for adding any other actions in future
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
  <div class="container">
        <nav class="navbar navbar-default"> 
                 <span  class="spancolor">EVENTS
                  <ul class="nav navbar-nav navbar-right">
                  <button type="button" class="btn btn-light btn-circle btn-sm">-></button> 
                  <button type="button" class="btn btn-success btn-circle btn-sm">+</button> 
                  <button type="button" class="btn btn-warning btn-circle btn-sm">-</button> 
                  <button type="button" class="btn btn-danger btn-circle btn-sm">x</button> </ul>
                 </span>

        </nav>
            <div class="container" width='50%'>
              <ul class="nav navbar-nav navbar-right">
                  <form (ngSubmit)="downloadFileExcel()">
                     <button type="button" class="btn btn-danger">CLEAR FILTER</button>&nbsp;&nbsp;
                     <button class="btn btn-primary">DOWNLOAD EXCEL</button>
                  </form>
              </ul>
           </div>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Action</th>
                <th class="th-sm">Event ID</th>
                <th class="th-sm">Month</th>
                <th class="th-sm">Base Location</th>
                <th class="th-sm">Council Name</th>
                <th class="th-sm">Beneficiary Name</th>
            </tr>
        </thead> 
        <tbody *ngFor="let events of event">
            <tr>
                <td><button type="button" class="btn btn-primary" (click)=getEventDetail(events.eventId)>VIEW</button></td>
                <td>{{ events.eventId }}</td>
                <td>{{ events.eventDate }}</td>
                <td>{{ events.baseLocation }}</td>
                <td>{{ events.councilName }}</td>
                <td>{{ events.beneficiaryName }}</td>
            </tr>
                <table class="table table-striped table-bordered table-sm" style="width:500px" height="50%" border="1">     
              <tr>
                      <th>Event Name:</th>
                      <td>{{ events.eventName }}</td>
                    </tr>
                    <tr>
                      <th>Event Date:</th>
                      <td>{{ events.eventDate }}</td>
                    </tr>
                    <tr>
                      <th>Business Unit:</th>
                      <td>{{ events.businessUnit }}</td>
                    </tr>
                    <tr>
                      <th>Status:</th>
                      <td>{{ events.status }}</td>
                    </tr>
                    <tr>
                      <th>Venue Address:</th>
                      <td>{{ events.venueAddress }}</td>
                    </tr>
                    <tr>
                      <th>Total Volunteers:</th>
                      <td>{{ events.totalVolunteers }}</td>
                    </tr>
                    <tr>
                      <th>Total Volunteer Hours:</th>
                      <td>{{ events.totalVolunteersHours }}</td>
                    </tr>
                    <tr>
                      <th>Total Travel Hours:</th>
                      <td>{{ events.totalTravelHours }}</td>
                    </tr>
            </table>
        </tbody>
        
    </table>
</div>
</body>
</html>