<div class="container">
    <app-configuration></app-configuration>
</div>
<html>
  <body>
    <form action="">
      <div class="container">
                <nav class="navbar navbar-default"> 
                         <span  class="spancolor">Add Question</span>
                </nav>
       </div>
       <div class="container mt-3" align="left">
       <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                    <label class="lbl">Feedback Type</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="custom-control-input" id="participated" name="participated">&nbsp;&nbsp;
                    <label class="custom-control-label" for="defaultInline1">Participated</label>&nbsp;&nbsp;
                
                    <input type="radio" class="custom-control-input" id="notparticipated" name="notparticipated">&nbsp;&nbsp;
                    <label class="custom-control-label" for="defaultInline2">Not Participated</label>&nbsp;&nbsp;
                
                    <input type="radio" class="custom-control-input" id="unregistered" name="unregistered">&nbsp;&nbsp;
                    <label class="custom-control-label" for="defaultInline3">Unregistered</label>&nbsp;&nbsp;
                </div>               
        </div>
        <div class="container" align="left">
        <input type="checkbox" id="multians" name="multians" value="">
        <label for="multians" class="checkboxlbl"> Allow Multiple Answers</label><br>
        <input type="checkbox" id="freetextans" name="freetextans" value="">
        <label for="freetextans" class="checkboxlbl"> Free Text Answers</label><br>
        <input type="checkbox" id="cusques" name="cusques" value="">
        <label for="cusques" class="checkboxlbl"> Custom Question</label><br><br>
        </div>

        <div class="container" align="left">
          <tr><label class="lbl">Question</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input class="form-control" type="text"  placeholder="Description Required"/><br>
          <button type="button" class="btn btn-success">ADD ANSWER</button>
        </div>
        <br>
        <div class="container" align="center">
          <button type="button" class="btn btn-primary">SAVE</button>&nbsp;&nbsp;
          <button type="button" class="btn">CANCEL</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger">DELETE</button>
        </div>
        </form>  
    </body>
</html>
