<div class="row my-1">
    <div class="form-line col-md-2">
        <div class="col-md-12">
            Answer
        </div>
    </div>
    <div class="form-line col-md-8">
        <div class="col-md-12">
            <input type="text" class="form-control inputAnswerNAUN" placeholder="Add Answer">
        </div>
    </div>
    <div class="form-line col-md-2">
        <button class="mx-3 btn btn-warning text-uppercase"
            style="font-size: 12px;font-weight: bold;color: #fff;" (click)="removeObject()">Delete
            Answer</button>
    </div>
</div><br>
