<html>
  <body>
      <table style="width:60%"  align="center" >
          <tr>
            <th class="rectangle" bgcolor="#CD5C5C">Total Events</th>
            <th></th>
  
            <th class="rectangle" bgcolor="#FF8C00">Lives Impacted</th>
            <th></th>
  
            <th class="rectangle" bgcolor="#C71585">Total Volunteers</th>
            <th></th>
  
            <th class="rectangle" bgcolor="#696969">Total Participants</th>
            <th></th>
          </tr>
  
          <tr  *ngIf="dashboard != null" >
            <td class="rectangle" bgcolor="#CD5C5C">{{dashboard.totalEvents}}</td>
            <td></td>
  
            <td class="rectangle" bgcolor="#FF8C00">{{dashboard.livesImpacted}}</td>
            <td></td>
  
            <td class="rectangle" bgcolor="#C71585">{{dashboard.totalVolunteers}}</td>
            <td></td>
  
            <td class="rectangle" bgcolor="#696969">{{dashboard.totalParticipants}}</td>
            <td></td>
          </tr>
        </table>  
  </body>
</html>
   


<!---div class="row">
        <div class="container">
  Welcome {{name}}. You can manage your todos <a routerLink="/todos">here</a>
</div>
</div>
<div class="container">
  Click here to get a customized welcome message 
  <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *="ngIfwelcomeMessageFromService">
    <H2>Your Customized Welcome Message</H2>
    {{welcomeMessageFromService}}
  </div-->



          
