<div class="container">
  <app-configuration></app-configuration>
</div>
<html>
  <body>
     <div class="container">
                <nav class="navbar navbar-default"> 
                         <span  class="spancolor">ASSIGN PMO
                            <ul class="nav navbar-nav navbar-right">
                              <button type="button" class="btn btn-light btn-circle btn-sm">-></button> 
                              <button type="button" class="btn btn-success btn-circle btn-sm">+</button> 
                              <button type="button" class="btn btn-warning btn-circle btn-sm">-</button> 
                              <button type="button" class="btn btn-danger btn-circle btn-sm">x</button> 
                            </ul> 
                         </span>
                </nav>

                <div class="panel-body form-inline">
                    <div class="container" align="center">
                      <label class="lbl">Employee ID</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  
                      <input type="text" id="email" class="form-control" placeholder="Enter Email Address" name="email" id="email" [(ngModel)]="email"/>
                  </div>
                  <br>

                  <div class="container" align="center">
                  <label for="roles" class="lbl">Assign Role</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <select class="form-control" name="role" id="role" [(ngModel)]="role">
                      <option value="PMO">PMO</option>
                      <option value="POC">POC</option>
                    </select>
                  </div>
                  <br> <br>
                  <div class="container" align="center">
                      <button type="button" class="btn btn-success" (click)='addUser()'>ADD PMO</button>&nbsp;&nbsp;
                      <button type="button" class="btn btn-danger" (click)='deleteUsers()'>REMOVE PMO</button>
                  </div> 
                </div>
       </div>
       <br>
       <div class="container">
        <nav class="navbar navbar-default"> 
                 <span  class="spancolor">PMO USERS
                  <ul class="nav navbar-nav navbar-right">
                  <button type="button" class="btn btn-light btn-circle btn-sm">-></button> 
                  <button type="button" class="btn btn-success btn-circle btn-sm">+</button> 
                  <button type="button" class="btn btn-warning btn-circle btn-sm">-</button> 
                  <button type="button" class="btn btn-danger btn-circle btn-sm">x</button> </ul>
                 </span>

        </nav>
            <div class="container">
              <ul class="nav navbar-nav navbar-right">
                <form (ngSubmit)="downloadFileExcel()">
                   <button type="button" class="btn btn-danger">CLEAR FILTER</button>&nbsp;&nbsp;
                   <button class="btn btn-primary">DOWNLOAD EXCEL</button>
                </form>
            </ul>
           </div>
      </div>
      <br>
      <div class="container">
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of users; let i = index'>
                        <td>{{user.email}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.role}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
 </body>
</html>
