.navbar-default{
    background-color: #0033a0;
}
.navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.colortext{
    color:white;
    padding: 32px;
    font-size: 16px;
}

.right{
    margin-right: 30px;
 }
.example-spacer {
    flex: 1 1 auto;
  }
  .singlespan{
    color:white;
    padding: 32px;
    font-size: 25px;
}
