.collapseBar{
    /* text-align: center; */
    display: inline-block;
    background: #2929a3;
    color: #fff;
    padding: 5px 0px 5px 10px;
    box-shadow: 1px 1px 3px #00000073;
    text-decoration: none;
    font-size: 14px;
}
.iconAlign{
    display: block;
    text-align: center;
    font-size: 2.7em;
}
.navbar-default{
    background-color: #0033a0;
}
.spancolor{
    color:white;      
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
}
.navbar-right {
    float: right!important;
    margin-right: 3px;
  }